extends ../layouts/layout-page-no-wa.jade
block metatag
        meta(name='description', content='Mayormente subiremos ejemplos y consejos prácticos para proyectos en la web.')
        meta(name='keywords', content='Blog, Web')
        meta(name='author', content='DUDUDU')
        meta(name='copyright', content='DUDUDU')
block content
    main.contenido_p_blog
        //- Sección de artículos
        section.seccion_articulos_b
            h1 NUESTROS ARTÍCULOS
            p.descripcion_nuestros_articulos_b Mayormente subiremos ejemplos y consejos prácticos para proyectos en la web.
            .seccion_articulos_contenedor_b
                - for (var n = post.length - 1; n >= 0; n--)
                    article.articulo
                        a(href='/blog/#{post[n].ruta}')
                            picture
                                source(media='(max-width: 576px)', srcset='#{post[n].imgPortadaCel}')
                                source(media='(min-width: 577px)', srcset='#{post[n].imgPortadaCompu}')
                                img(src='#{post[n].imgPortadaCompu}', alt='#{post[n].titulo}')
                        a(href='/blog/#{post[n].ruta}')
                            h2= post[n].titulo
                        p= post[n].resumenPagina
                        p
                            span Fecha: #{post[n].fecha}
                        form(action='/blog/#{post[n].ruta}')
                            button(type='submit') Leer más


